
/backups
/cache
/local
/logs
/modernfix
/resourcepacks
/saves
/screenshots
/shaderpacks
/xaero
/schematics
/XaeroWaypoints_BACKUP240807
/crash-reports
/.mixin.out
/mods
/alembic
/server-resource-packs
/texturepacks

options.txt
usercache.json
usernamecache.json
XaeroWaypoints_BACKUP240807/New World/config.txt
rhino.local.properties
patchouli_data.json
minecraftinstance.json
enigmatic_persistence.dat
emi.json
/.mixin.out
fancymenu_data/last_world.fmdata
config/everycomp-hazardous.properties
.mixin.out/class/net/minecraft/client/sounds/MusicManager.class
config/xaerominimap_entities.json
config/oculus.properties
fancymenu_data/last_world.fmdata
config/oculus.properties
config/everycomp-hazardous.properties
.mixin.out/class/net/minecraft/client/sounds/MusicManager.class
.mixin.out/class/net/minecraft/client/sounds/MusicManager.class
config/oculus.properties
config/xaerominimap_entities.json
config/everycomp-hazardous.properties
