
/backups
/cache
/local
/logs
/modernfix
/mods
/resourcepacks
/saves
/screenshots
/shaderpacks
/xaero
options.txt
usercache.json
usernamecache.json
XaeroWaypoints_BACKUP240807/New World/config.txt
rhino.local.properties
patchouli_data.json
minecraftinstance.json
enigmatic_persistence.dat
emi.json
